@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    color: #f0f0f0;
    background-color: #14002e;
}

:root {
    --cor-principal: #6E859F;
    --cor-secundária: #3d0ba0;
    --cor-destaque: #9370DB;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal)
}

.lead{
    color: var(--cor-destaque);
    font-weight: 700;
}

h1, h2, h5 {
    color: var(--cor-secundária);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal)
}

footer a:hover {
    color: var(--cor-destaque)
}

.meu-botao {
  /* cor violeta principal */
  background-color: #6a0dad; /* violeta escuro */
  color: #ffffff;            /* texto branco */
  border: none;              /* remove borda padrão */
  border-radius: 8px;        /* cantos arredondados */
  padding: 10px 20px;        /* espaçamento */
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(106,13,173,0.18); /* leve sombra */
  transition: transform 150ms ease, box-shadow 150ms ease, background-color 150ms ease;
  cursor: pointer;
  display: inline-block;
}

/* hover: clareia um pouco e eleva */
.meu-botao:hover {
  background-color: #7b1fa2; /* violeta um pouco mais claro */
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(106,13,173,0.20);
}